<!--
<h1>
  {{title}}, {{title.id}}, {{title.note}}, {{title.name}}
</h1>
<!-- -->

<!--
scale:<br />
<!-- {{scale|json}} -->
<!--
<table>
  <tr>
    <td *ngFor="let nota of scale">
      {{ nota?.note }}
    </td>
  </tr>
</table>
<!-- -->

<!--
<br />
major scale:<br />
<!-- {{majorScale|json}} -->
<!--
<table>
  <tr>
    <td *ngFor="let nota of majorScale">
      {{ nota?.note }}
    </td>
  </tr>
</table>
<!-- -->

<br />
guitar:<br />
<!-- <pre>{{guitar|json}}</pre> <!-- -->
<div class='mainGuitar' style='background-color: #000;'>
<table>
  <tr>
    <td *ngFor="let line of guitar[0]; let i = index" style='width: 40px; background-color: #fff'>
      <span>{{ i + 1 }}</span>
    </td>
  </tr>
  <tr *ngFor="let line of guitar">
    <td *ngFor="let note of line" style='width: 40px; border: 1px #000 solid; background-color: #fff'>
      <span [class.c]="note.note === 'C'" >{{ note?.note }}</span>
    </td>
  </tr>
</table>
</div>

<!--
<br />
major guitar:<br />
<!-- <pre>{{majorGuitar|json}}</pre> <!-- -->
<!--
<table>
  <tr *ngFor="let line of majorGuitar">
    <td *ngFor="let note of line">
      {{ note?.note }}
    </td>
  </tr>
</table>
<!-- -->

<!--
<br />
penta guitar:<br />
<!-- <pre>{{pentaGuitar|json}}</pre> <!-- -->
<!--
<table>
  <tr *ngFor="let line of pentaGuitar">
    <td *ngFor="let note of line">
      {{ note?.note }}
    </td>
  </tr>
</table>
<!-- -->

<br />
pentagrama:<br />
<!-- <pre>{{guitar|json}}</pre> <!-- -->
<div class='mainPentagrama'>
  <div class='pentaLine1'></div>
  <div class='pentaLine2'></div>
  <div class='pentaLine3'></div>
  <div class='pentaLine4'></div>
  <div class='pentaLine5'></div>

  <div class='key-G-1-C' style="left:300px;">C</div>
  <div class='key-G-1-D' style="left:320px;">D</div>
  <div class='key-G-1-E' style="left:340px;">E</div>
  <div class='key-G-1-F' style="left:360px;">F</div>
  <div class='key-G-1-G' style="left:380px;">G</div>
  <div class='key-G-1-A' style="left:400px;">A</div>
  <div class='key-G-1-B' style="left:420px;">B</div>

  <div class='key-G-2-C' style="left:440px;">C</div>
  <div class='key-G-2-D' style="left:460px;">D</div>
  <div class='key-G-2-E' style="left:480px;">E</div>
  <div class='key-G-2-F' style="left:500px;">F</div>
  <div class='key-G-2-G' style="left:520px;">G</div>
  <div class='key-G-2-A' style="left:540px;">A</div>
  <div class='key-G-2-B' style="left:560px;">B</div>
</div>

<div class='mainPentagrama'>
  <div class='pentaLine1'></div>
  <div class='pentaLine2'></div>
  <div class='pentaLine3'></div>
  <div class='pentaLine4'></div>
  <div class='pentaLine5'></div>

  <div class='key-F-1-D' style="left:20px;">D</div>
  <div class='key-F-1-E' style="left:40px;">E</div>
  <div class='key-F-1-F' style="left:60px;">F</div>
  <div class='key-F-1-G' style="left:80px;">G</div>
  <div class='key-F-1-A' style="left:100px;">A</div>
  <div class='key-F-1-B' style="left:120px;">B</div>
  <div class='key-F-1-C' style="left:140px;">C</div>

  <div class='key-F-2-D' style="left:160px;">D</div>
  <div class='key-F-2-E' style="left:180px;">E</div>
  <div class='key-F-2-F' style="left:200px;">F</div>
  <div class='key-F-2-G' style="left:220px;">G</div>
  <div class='key-F-2-A' style="left:240px;">A</div>
  <div class='key-F-2-B' style="left:260px;">B</div>
  <div class='key-F-2-C' style="left:280px;">C</div>
</div>